{% extends 'base.html' %}
{% block content %}
<script type="text/javascript">
		function validation()
		{
			var alpha=/^[a-zA-Z]+$/;
			
			
			var username=document.getElementById("username");
			if(username.value.length==0)
			{
				alert("Please Enter your username ");
				return false;
			}
			else if(!username.value.match(alpha))
			{
				alert("invalid name");
				username.focus();
				return false;
			}
			else
			{
				return true;
			}
		}	
			
		
	</script>
	<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12"></div>
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="full">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="main_heading text_align_center">
                <h2>Forgotten Password</h2>
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 appointment_form">
              <div class="form_section">
                <form class="form_contant" method="post" action="{% url 'passwordAction' %}">
		{% csrf_token %}
                  <fieldset class="row">
                  <div class="field col-lg-12 col-md-12 col-sm-12 col-xs-12">
		 <div class="row">  
                  <div style="margin-top:15px;width:10%">Username</div><input class="field_custom"  type="text" name="username" id="username"></div>
                  </div>

                  
                  <div class="center">
                    <button class="btn main_bt" type="submit" value="submit" onclick="return validation()">SUBMIT</button>
                  </div>
		
                  
                  </fieldset>
		
                </form>
		
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





		
                  
                 
	
{% if msg %}
	<script>
		alert('{{msg}}');
	</script>
	{% endif %}
{% endblock %}